* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments {
  overflow-y: scroll;
  position: absolute;
  width: 1032px;
  height: 864px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: #eceef1;
  border-radius: 8px;
}

.comment {
  margin: 5px;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  margin-top: 0px;
}

.nameAndText {
  background-color: #ffffff;
  border: 1px solid #d8dee7;
  border-radius: 7px;
  padding: 24px;
  width: fit-content;
  font-style: normal;
  font-size: 18px;
}

.authorName {
  font-weight: 600;
  line-height: 22px;
}

.commentText {
  font-weight: 500;
  color: #82878d;
  line-height: 22px;
}

.timeAndReply {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}

.commentTime {
  width: fit-content !important;
}

.reply {
  color: rgb(2, 49, 104);
  font-weight: 600;
}

.inputForm {
  background-color: #ffffff;
  border: 1px solid #d8dee7;
  border-radius: 8px;
  height: 72px;
  width: 968px;
  display: flex;
  align-items: stretch;
  position: fixed;
  padding: 10px 0px;
  margin-left: 2px;
  left: 50%;
  top: 88%;
  transform: translate(-50%, 0%);
  filter: drop-shadow(2px 4px 24px rgba(0, 0, 0, 0.1));
}

.plusSign {
  background-color: #023168ff;
  color: white;
  border-radius: 5px;
  min-width: 50px;
  font-size: 2em;
  margin: 0px;
  text-align: center;
  padding-bottom: 5px;
}

.inputForm .form-control {
  border: none;
  height: 100%;
}

.inputForm .btn {
  background-color: #023168ff;
  color: white;
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.paperPlaneIcon {
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);
  border-radius: 20px;
  border: 15px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
