* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments {
  background-color: #eceef1ff;
  min-height: 80vh;
  max-height: 80vh;
  width: 66vw;
  border-radius: 7px;
  margin-top: 10vh;
  padding-top: 10px;
  padding-bottom: 80px;
  padding-right: 30px !important;
  padding-right: 30px !important;
  overflow-y: scroll;
}

.nameAndText {
  background-color: #ffffff;
  border: 1px solid rgba(2, 49, 104, 0.2);
  border-radius: 7px;
  padding: 15px 20px 15px 20px;
  width: fit-content;
  font-size: 1.2em;
}

.commentTime {
  width: fit-content !important;
}

.reply {
  color: rgb(2, 49, 104);
  font-weight: 600;
}

.inputForm {
  background-color: #ffffff;
  border-radius: 10px;
  height: 75px;
  width: 55%;
  flex: 1;
  display: flex;
  align-items: stretch;
  position: fixed;
  padding: 10px 0px;
  left: 50%;
  top: 80%;
  transform: translate(-50%, 0%);
}

.plusSign {
  background-color: #023168ff;
  color: white;
  border-radius: 5px;
  min-width: 50px;
  font-size: 2em;
  margin: 0px;
  text-align: center;
  padding-bottom: 5px;
}

.inputForm .form-control {
  border: none;
  height: 100%;
}

.inputForm .btn {
  background-color: #023168ff;
  color: white;
  height: 100%;
}

::-webkit-scrollbar {
  width: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);
  border-radius: 20px;
  border: 15px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
